/*外面大盒子*/
.menber-main{
	min-height: 640px;
	border: 1px solid #E2E2E2;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*左盒子*/
.menber-main .menber-left{
	width: 230px;
	min-height: 640px;
}
.menber-left-top{
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	background: #fff9f5;
	border-bottom: 1px solid #E2E2E2;
}
/*左盒子列表菜单*/
.menber-lists-box{
	padding:0px 12px 0px 12px;
	cursor: pointer;
}
.menber-lists-box .menber-lists{
	padding: 18px;
	line-height: 20px;
	border-bottom: 1px solid #E2E2E2;
}
.menber-lists:last-child{
	border-bottom: 0;
}
.menber-list:first-child{
	list-style:disc;
}
.more-cont:hover,
.more-cont:active{
	color: #FF2D52;
}
/*右盒子*/
.menber-main .menber-right{
	width: 968px;
	min-height: 640px;
	padding: 20px;
}
.menber-content{
	display: none;
}
.menber-content.show{
	display: block;
}

/*首页*/
.menber-right-top{
	width: 100%;
	height: 160px;
	padding: 20px;
	background: #fff9f5;
	border: 1px solid #E2E2E2;
}
.menber-right .recommed-shop{
	width: 454px;
	height: 200px;
	border: 1px solid #E2E2E2;
	margin-top: 20px;
}
.person-pic{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	background:#E2E2E2;
	position: relative;
	overflow: hidden;
}
.person-pic img{
	max-width: 104px;
	max-height: 104px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.vertical{
	vertical-align: -2px;
}
/*充值*/
.addmoney{
	display: inline-block;
	width: 48px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background: #FF2D52;
	color: #fff;
}
.addmoney:hover{
	background: #EC193E;
}
/*图标内容*/
.icon-content{
	padding-left: 100px;
	margin-top: 18px;
	line-height: 22px;
}
.icon-pic{
	width: 110px;
	float: left;
	text-align: center;
}
.icon-pic img{
	width: 42px;
	height: 42px;
}
/*标题行*/
.recommed-shop-title{
	height: 40px;
	line-height: 40px;
	background: #fff9f5;
}
.shop-info{
	height: 158px;
	padding: 12px;
}
.picture-box{
	width: 372px;
	height: 135px;
	padding-left: 16px;
	padding-right: 16px;
}
/*图片盒子*/
.pic-content{
	width: 106px;
	height: 135px;
	margin-right: 11px;
}
.pic-content.on{
	border: 1px solid #FF2D52;
}
/*图片*/
.pic-content img{
	width: 104px;
	height: 104px;
}

.pic-content:nth-child(3n){
	margin-right: 0;
}
.shop-bt.on{
	background: #E2E2E2;
	color: #FF2D52;
}
.leftbt,.rightbt{
	width: 28px;
	height: 58px;
	margin-top: 32px;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	background: #fff;
}

/*我的认证*/
.myauth-top{
	height: 34px;
	border-bottom: 1px solid #E2E2E2;
}
/*标题*/
.myauth-title{
	display: inline-block;
	height: 100%;
	border-bottom: 2px solid #FF2D52;
}
.myauth-details{
	height: 108px;
	padding: 20px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #FFF9F5;
	border: 1px solid #E2E2E2;
}
.auth{
	display: none;
}

.auth.show{
	display: block;
}
/*文本框*/
.write-details input{
	width: 301px;
	height: 36px;
	background: #fff;
	border: 1px solid #E2E2E2;
}
.vertic{
	vertical-align: 44px;
}
/*未认证*/
.addbox{
	display: inline-block;
	background: #FFF9F5;
	width: 202px;
	height: 128px;
	text-align: center;
	line-height: 128px;
	position: relative;
	border: 1px solid #E2E2E2;
}

.delone,.deltwo{
	display: inline-block;
	width: 202px;
	height: 38px;
	line-height: 38px;
	background: #b2aeab;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
.addbox:hover .delone,
.addbox:hover .deltwo{
	display: block;
}
.idpic{
	width: 202px;
	height: 88px;
	line-height: 30px;
}
.idbefore{
	margin-left: 74px;
}
.idback{
	margin-left: 20px;
}
.idpic img{
	width: 65px;
	height: 40px;
}
.litter{
	padding-left: 74px;
}
.authbt{
	background: #FF2D52;
	color: #FFF;
	margin-left: 72px;
	margin-top: 25px;
}
/*已认证*/
.addbox img{
	max-width: 202px;
	max-height:128px ;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*我的优惠券*/
.discount-sales{
	height: 260px;
	margin-top: 20px;
	border: 1px solid #E2E2E2;
}
.discount-sales-top{
	height: 40PX;
	background: #FFF9F5;
}
.discount-lists .discount-list{
	width: 85px;
	line-height: 40px;
	text-align: center;
	float: left;
}
/*优惠券列表*/
.discount-lists .discount-list:hover,
.discount-lists .discount-list:active{
	background: #fff;
	color: #FF2D52;
}


/*优惠券兑换*/
.discount-coupon{
	width: 100%;
	min-height: 224px;
	padding: 20px 18px;
}
.discount-coupon .ticket{
	width: 280px;
	height: 180px;
	background: #FFF9F5;
	position: relative;
	float: left;
	margin-right: 12px;
	overflow: hidden;
}
.discount-coupon .ticket:last-child{
	margin-right: 0;
}
/*优惠券上部*/
.ticket-top{
	width: 280px;
	height: 105px;
	padding: 24px;
	border: 1px solid #E2E2E2;
	border-bottom: 1px dashed #E2E2E2;
}
.money{
	display: inline-block;
	width: 78px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.ticket-top-content{
	width: 140px;
	height: 60px;
	text-align: center;
}
/*优惠券下部*/
.ticket-buttom{
	width: 280px;
	height: 75px;
	padding: 24px;
	border: 1px solid #E2E2E2;
	border-top: 0;
}
.ticket-buttom-bt{
	width: 148px;
	height: 42px;
	line-height: 42px;
	border-radius: 24px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background: #ff92a5;
	cursor: pointer;
}
.crcile{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background:#fff;
	position: absolute;
	top: 88px;
	left: -15px;
	border: 1px solid #E2E2E2;
}
.crcile1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 88px;
	right: -15px;
	border: 1px solid #E2E2E2;
}
/*积分兑换规则*/
.credits-content{
	height: 180px;
	margin-top: 20px;
	line-height: 20px;
	background: #FFF9F5;
	padding: 20px;
	border: 1px solid #E2E2E2;
}
.changebt{
	background: #FF2D52;
	color: #fff;
}
.changebt:hover{
	background: #EC193E;
}

/*列表*/
.credits-lists-box{
	height: 272px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #E2E2E2;
}
/*列表标题行*/
.title-lists{
	height: 40px;
	background: #FFF9F5;
	line-height: 40px;
	text-align: center;
}
.title-lists .title-list{
	float: left;
	width: 33%;
}
/*列表内容*/
.content-lists{
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-bottom: 1px dashed #E2E2E2;
}
.content-lists:last-child{
	border-bottom: 0;
}
.content-lists .content-list{
	float: left;
	width: 33%;
}
/*翻页按钮*/
.footer-bt{
	height: 40px;
}
.footer-bt-lists{
	min-width: 346px;
	height: 40px;
	float: right;
}
.footer-bt .footer-bt-list{
	width: 68px;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
	text-align: center;
	background: #fff;
	float: left;
	border: 1px solid #E2E2E2;
}
.footer-bt .footer-bt-list:hover{
	background: #f2f2f2;
	cursor: pointer;
}
.footer-bt-list.page.on{
	width: 35px;
	background: #FF2D52;
	color: white;
}
.footer-bt-list.page{
	width: 35px;
}