/*设置背景颜色*/
.bg-main{
	background-color: #FF2D52;
}
.bg-active{
	background-color: #EC193E;
}
.bg-black{
	background-color: #f7f7f7;
}
.bgc-ccc{
	background-color: #ccc;
}
.bgc-pic{
	background-color: #d4e9fa;
}
.bgc-666{
	background-color: #666;	
}

.bgc-gray{
	background-color: #f7f7f7;
}
.bgc-darkgray{
	background-color: darkgray;
}
.bg-color{
	background-color: #ff2d52;
}
/*设置字体大小*/
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-28{
	font-size: 28px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}

/*设置字体颜色*/
.text-666{
	color: #666;
}
.text-000{
	color: #000;
}
.text-222{
	color:#222222;
}
.title-color{
	color:#FF2D52;
}
.font-white{
	color: #fff;
}
.font-red{
	color: #ff899e;
}
/*加粗*/
.font-weight{
	font-weight: bold;
}
/*文本对齐方式*/
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.line-through{
	text-decoration: line-through;
}
/*文字超出隐藏*/
.overflow{
	overflow: hidden;
}
.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	/*不允许换行*/
	white-space: nowrap;
}
.text-ellipone{
	overflow: hidden;
	white-space: nowrap;
}
/*外边距 5 10 15 20 25 30*/
.margin-lr-5{
	margin: 0 5px;
}
.padding-lr-20{
	padding: 0 20px;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-right-5{
	margin-right:5px ;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-buttom-5{
	margin-bottom:5px ;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-right-10{
	margin-right:10px ;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-buttom-10{
	margin-bottom: 10px ;
}
.margin-left-15{
	margin-left: 15px;
}
.margin-right-15{
	margin-right:15px ;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-buttom-15{
	margin-bottom: 15px ;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-right-20{
	margin-right:20px ;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-buttom-20{
	margin-bottom:20px ;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-tb-10{
	margin: 10px 0;
}
.margin-tb-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
/*内边距*/
.padding-l-5{
	padding-left: 5px;
}
.padding-r-5{
	padding-right: 5px;
}
.padding-t-5{
	padding-top: 5px;
}
.padding-b-5{
	padding-bottom: 5px;
}
.padding-l-10{
	padding-left: 10px;
}
.padding-l-20{
	padding-left: 20px;
}
.padding-r-10{
	padding-right: 10px;
}
.padding-t-10{
	padding-top: 10px;
}
.padding-b-10{
	padding-bottom: 10px;
}
.padding-tb-10{
	padding: 10px 0;
}
.padding-tb-5{
	padding: 5px 0;
}
.padding-l-30{
	padding-left: 30px;
}
/*左右浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}
/*清除浮动*/
.clearfix{
	clear: both;
}
.clearfix:before{
	content: '';
	display: block;
	clear: both;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
/*按钮*/
.button{ /*按钮的默认样式*/
	display: inline-block;
	background:#fff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding:5px 10px;
	cursor: pointer;
}
.button.button-main,.button-main-hover:hover{
	background:#FF2D52;
	color: #fff;
	border: none;
}
.button.button-main:hover{ /*按钮悬停时发生变化*/
	background-color: #EC193E;
	border-color:#EC193E ;
}
.content{
	width: 1200px;
	margin: 0 auto;
}